@charset "utf-8";
p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }
 span.sbrace {
 margin-right: 0.5em
 }
span.hbrace {
margin-left: -0.5em
}

span.slaquo {
margin-right: 0.44em
}
span.hlaquo {
margin-left: -0.44em
}
span.slaquo-s {
margin-right: 0.7em}
span.hlaquo-s {margin-left: -0.7em
}
span.slaquo-b {
margin-left: 0.85em
}
span.hlaquo-b {
margin-left: -0.85em
}

span.sbdquo {
margin-right: 0.4em
}
span.hbdquo {
margin-left: -0.4em
}
span.sbdquo-s {
margin-right: 0.35em
}
span.sbdquo-s {
margin-left: -0.35em
}

span.squot {
margin-right: 0.32em
}
span.hquot {
margin-left: -0.32em
}

span.sowc {
margin-right: 0.04em
}
span.howc {
margin-left: -0.04em
}

span.sowcr {
margin-right: 0.05em
}
span.howcr {
margin-left: -0.05em
}
.outer {
    text-align: center;
     }
	 .outer {
    text-align: center; /* Для IE<8 */
   
  }
  .inner {
  float: left;

   width: 78px;
  
   margin: auto; /* Для IE8+ и других браузеров */
  }
  .centr {
  width: 400px;
  margin:0 auto;
  }
.Button {
    cursor:;
    display:;
    height:;
    width:;
    line-height:;
    text-align:;
    background-image:;
    background-repeat:;
	}
	.spelk { margin-right: 0.54em }
 .comma{ margin-left: -0.54em; display: inline-block }
/* <span class="spelk"> </span><span class="comma">слово,</span>*/ 
.spsk { margin-right: 0.54em }
 .point{ margin-left: -0.54em; display: inline-block }
/*<span class="spsk"> </span><span class="point">слово.</span> */
