body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.container{
	max-width: 760px;
	margin-top: 20px;
}
.hidedPanel{
    display:none;
}
.shownPanel{
    display:block;
}
.phNameLocation{
	margin: 0 auto;
	min-height: 62px;
}
#main{
	display: inline;
	min-height: 350px;
}
#phName{
	border-radius: 7px;
	clear: both;
	font-size: 14pt;
	height: 30px;
	margin: 1px;
	padding: 1px 1px 1px 1px;
	text-align: center;
    font-style: italic;
}
#logo{
	font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
	font-size: 24px;
}
#logo a{
	color: 	#696969;
	text-decoration: none;
	text-transform: uppercase;
}
#text{
	margin: 0 auto;
}
#text1{
	font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: auto;
	color: 	#696969;
}
.textalign{
	text-align: center;
}
strong{
	font: helvetica;
	font-size: 17pt;
	text-align: justify;
}
#content{
	background-color: #ddd;
	border-radius: 5px;
	height: 658px;
}
span.left{
	margin-left: -0.25em;
}
span.right{
	margin-right: -0.25em;
}
#center{
	text-align: center;
}
.centr{
	margin: 0 auto;
	width: 300px;
}
.font{
	font: helvetica;
	font-size: 11pt;
}
.row1{
	margin-bottom: 10px;
}
.row2{
	margin-bottom: 20px;
}
.row3{
	margin-bottom: 30px;
}
.buttonLocation{
	margin: 0 auto;
}
.button{
   width: 200px;
    height: 50px;
    border-radius: 5px;
}
.button:hover{
	border: 1px solid #696969;
}
.button:active{ 
	border: 1px solid #696969;
}
.buttonTest{
    background: rgb(64,199,129);
    border-radius: 3px;
    
	color: white;
	font-weight: 700;
	width:60px;
	height:27px;
    text-decoration: none;
    transition: 0.2s;
}
.buttonTest:hover{
    background: rgb(53, 167, 110);
}
.buttonTest:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.buttonTest:disabled{
	background: rgb(53, 167, 110);
}
#footer{
	clear: both;
	height: 10px;
}
#menu_footer{
	color: #7A2200;
	font-size: 11px;
	
}
#down_footer{
	color: black;
	font-size: 12px;	
}
#header{
	margin-left: 90px;
	font-weight: bold;	
}
#start_test{
	font-size: 15px;
}
#content_tests{
	 height: 75px;
	 text-align: center;
}
#tests_title_tr{
	font-size: 10px;
}
#tip{
	padding: 20px 0;
	text-align: center;
}
#buttons_table{
	width:600px;
	text-align:center;
	margin: 40px 0px 0px 87px;
}
td{ 
    width:80px;
}
.errorField{
	border: 2px solid red;
	min-height: 20px;
}
.error{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: red;
}
input:focus{
    outline: 0;
}
img{
	width: 100px;
	box-sizing: border-box;
}
.textalign{
	height: 92px;
}
p.font{
	display: inline;
	-webkit-transition: background 0.5s ease;
}
.font:hover{
   opacity: 0.5;
}
input[type=radio] {
    display: none;
}
.border{
	border: 2px double black;
}
fieldset {
	padding: 20px 5px;
    border: 1px solid #808080;
    border-radius:5px;
}
legend {
  display: block;
  font-size: 21px;
  line-height: inherit;
  width: auto;
}
#start_button{
	text-align: center;
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
   }
p {
    font-family: Roboto;
    text-align: center;
   }

