@media (min-width:1000px){
.one{
height:300px;
width:1005px;
background:red;
}
}
@media (min-width:768px) and (max-width:999px){
.one{
height:300px;
width:800px;
background:green;
}
}
@media (min-width:487px) and (max-width:767px){
.one{
height:300px;
width:487px;
background:blue;
}
}

#header {
line-height: 1.4 ; text-indent: 20px;
font: helvetica;font-size: 17pt;
text-align: center;font-weight:bold;
}
#footer {
width: 400px;
text-align: center;
margin:0 auto;
}
.inner {
float: left;
width: 78px;
margin: auto; /* ƒл¤ IE8+ и других браузеров */
}
.Button {
cursor:;
display:;
height:85px;
width:80px;
line-height:80px;
text-align:;
background-image:;
background-repeat:;
}
#start_test2{
height:60px;
width:140px;
}
.box {
box-shadow: 5px 5px 5px rgba(0, 0, 0, .75);
behavior: url(PIE.htc);
}
body{width:760px; min-height:500px;margin: auto;
}
#content_tests{ font: helvetica;font-size: 14pt; text-align: center;}
