p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
    padding: 0 0.5em 0 0.5em;
word-spacing: 0.2em;
   }
   span.left { margin-left: -0.25em; }
   span.right { margin-right: -0.25em; }
 .outer {
    text-align: center;
     }
	 .outer {
    text-align: center; /* Для IE<8 */
   
  }
  .inner {
  float: left;

   width: 78px;
  
   margin: auto; /* Для IE8+ и других браузеров */
  }
  .centr {
  width: 400px;
  margin:0 auto;
  }
.Button {
    cursor:;
    display:;
    height:;
    width:;
    line-height:;
    text-align:;
    background-image:;
    background-repeat:;
	}
	
