#n { clear:both; text-align:center;}
.inner { float: left;  width: 100px;
     margin: auto;
	 }
	 #x { 
	 float: left;
	 }
	 
	 .centr {
  width: 200px;
  margin:0 auto;
 }
	 #a {
	 text-indent: 20px; 
	 }
	  p { font:  arial; 
	   line-height: 0.1;
	 }
